[user]
	name = Neil John D. Ortega
	# Set this on a per-repo basis using `git config --local user.email "you@example.com"`
	email = neil.ortega@neiljdo.com
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[merge]
	log = true
	renameLimit = 5000
[diff]
	submodule = log
[alias]
	br  = branch
	ci  = commit
	co  = checkout
	df  = diff
	g   = grep -I
	loq = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	st  = status
