# generic
*.pyc
*.cache

# sublime-text-2 config
Backup/
Settings/

# Package Control
Package\ Control.cache/
*.last-run

*.bak
*.chback

# Specific files in package directories
.config/sublime-text-2/Packages/PyV8/linux64/config.json
